# Python & Jupyter
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Weights & Models (Too large for GitHub)
*.pt
!results/best.pt
*.onnx

# Datasets
dataset/
datasets/
*.zip

# YOLOv8 Specific Outputs
**/runs/
**/annotation_samples.png
**/new_predictions_grid.png
**/val_predictions_grid.png


# IDEs
**/.idea/
.idea/*
*.iws
*.iml
*.ipr
**/vcs.xml
**/misc.xml
**/workspace.xml
**/profile_settings.xml
**/copilot.data.migration.agent.xml
**/M4U3 computer vision.iml
.vscode/

# OS
.DS_Store
Thumbs.db


